[2016-03-11 13:15] gforcada opened #1 "Do not warn about __name__"

[2017-05-14 22:00] gforcada commented on #1
Done already.

[2017-05-14 22:00] #1 closed, assigned to nobody

[2017-05-19 08:01] karamanolev opened #3 "A way to disable errors for class attributes"
I find this plugin very useful, especially for module-level globals, function arguments, variables, etc., but class attributes are really getting in the way. Can you add a configuration option to disable the errors just for that? There are a bunch of legitimate cases where we have class attributes names that are builtins:

- Django manage.py commands have a standard help attribute to provide comma

[2017-05-20 16:33] karamanolev commented on #3
Implement in #4 by simply moving it to a separate error code, which can then be ignored in the flake8 config.

[2017-05-21 00:01] danpalmer opened #6 "Broken under SublimeLinter-flake8"
Commit 628e988459fd827e4960ea82a397a08914a5de23 broke `flake8-builtins` when running in SublimeText under SublimeLinter and SublimeLinter-flake8. This causes flake8 linting to stop working entirely in the editor as an exception is thrown during linting.

[code]

I'm not sure exactly what is going wrong here, but apparently dropping the lines added in the commit fixes the issue. I don't want to jus

[2017-05-21 00:05] danpalmer commented on #6
Also, I've noticed the diff doesn't actually _use_ the new value of `tree` that is causing this issue.

[code]

[2017-05-21 00:06] danpalmer commented on #6
Ha looks like someone already beat me to it! https://github.com/gforcada/flake8-builtins/pull/5

[2017-05-31 21:53] gforcada commented on #6
@danpalmer would you mind trying with the new 0.4 version and report back if it works for you?

[2017-05-31 21:53] #6 closed, assigned to nobody

[2017-05-31 21:54] gforcada commented on #3
@karamanolev please try the new 0.4 version and report back. Thanks for providing the patch!!

[2017-05-31 21:54] #3 closed, assigned to nobody

[2017-05-31 22:28] danpalmer commented on #6
@gforcada assuming the PRs were merged I'm sure it will be working – I've been using my own fork with the PRs merged in for the last 10 days and it has been working fine. Unfortunately I won't have time to verify this further on our codebase for a week or so (but I'm happy to close this as I imagine it's fine).

[2017-06-01 09:43] gforcada commented on #6
@danpalmer no problem, just re-open the ticket or create a new one whenever you see a problem.

Thanks for reporting it and provide the patches to fix it!

[2017-06-01 17:59] karamanolev commented on #3
@gforcada Thanks for the merge. We've now switched back from my fork to the pypi version and it's working just fine.

[2017-08-09 16:04] cas-- opened #7 "Bugbear and builtins both using B001"
I have not tested the consequences of this but I found googling for B001 that you both picked the same B prefix code in March 2016!

https://github.com/PyCQA/flake8-bugbear#list-of-warnings

[2017-08-10 17:31] ambv commented on #7
As bugbear is an official PyCQA plugin, it would be probably best for the author to change the code used by `flake8-builtins`.

[2017-08-14 10:12] gforcada commented on #7
@ambv I, as the author, wouldn't mind changing it to X, Y, Z or whatever word, problem is as soon as you get more than 26 plugins... what should we do? https://pypi.org/search/?q=flake8 already reports 423 projects... Is that something that flake8 has already thought about?

I've seen that a plugin can claim not only a word but part of a letter as well, i.e. ``B0`` (giving you B001 to B099`` or ``

[2017-08-16 11:43] gforcada commented on #7
@ambv I, as the author, wouldn't mind changing it to X, Y, Z or whatever word, problem is as soon as you get more than 26 plugins... what should we do? https://pypi.org/search/?q=flake8 already reports 423 projects... Is that something that flake8 has already thought about?

I've seen that a plugin can claim not only a word but part of a letter as well, i.e. ``B0`` (giving you B001 to B099`` or ``

[2017-08-19 06:37] #7 closed, assigned to nobody

[2017-08-19 10:42] gforcada commented on #7
@cas-- @ambv flake8-builtins 1.0 is released with the error codes changed to ``A00X``.

[2018-02-20 23:02] mccalluc opened #13 "Split A002 to distinguish between parameter usage and definition?"
I've just added this to my project, and it has caught a number of my mistakes... but it's also catching places where outside libraries chose kwargs that shadow builtins, which doesn't worry me as much: I would probably ignore these. Both cases raise `A002`: Would it make sense to split this into two categories?

I can try to make a PR, but I wanted to make sure this is a reasonable direction, firs

[2018-02-21 15:57] mccalluc commented on #13
[Made a fork](https://github.com/gforcada/flake8-builtins/compare/master...mccalluc:mccalluc/distinguish-kwarg-def-and-usage?expand=1), and thought it would be easy, but haven't been able to reproduce the [failure I had in my other project](https://travis-ci.org/refinery-platform/heatmap-scatter-dash/builds/344077196?utm_source=github_status&utm_medium=notification): ie, The behavior here is actua

[2018-02-22 21:57] gforcada commented on #13
@mccalluc thanks for using the plugin and spending the time to report and actually even cook a patch!

Yes, it does make sense, one one case (where you define) you have control over the parameters names, on the other one (where you are a mere consumer) you might not be able to change that... Yes, it definitely makes sense to me: :+1:

As for your patch, might it be that although you split the mess

[2018-03-15 11:57] sobolevn opened #14 "Bug with format and for-loop"
I have spotted that this example gives me false negative.
No errors is created, but there should be one.

[code]

`format` is a built-in name that is not checked for some reason.

[2018-03-15 13:04] gforcada commented on #14
Thanks for the report!

The list of builtins is gathered automatically, so the bug should be probably elsewhere (sorry I'm with my phone right now).

I will double check though.

Would you mind creating a pull request that adds this examples as tests? Thanks in advance if you add them, if not I will do it sometime later.

[2018-03-15 13:05] sobolevn commented on #14
@gforcada PR is coming!

[2018-03-17 22:33] sobolevn opened #17 "False negative in some control flows"
Given this code sample:

[code]

This should rise an error. But it does not.
That's a bug, I guess.

I will create a PR with the test after #15 will be merged.

[2018-03-17 23:01] gforcada commented on #17
Yep, I was looking right now to which other control flow statements allow to define variables.

Meanwhile I pushed a 1.1 version with the previous fix. Thanks for reporting them!

[2018-03-17 23:11] gforcada commented on #17
To get a complete *(hopefully)* list of other flow statements:
- except as
- with

Anything else? :thinking:

[2018-03-18 04:49] sobolevn commented on #17
`import as`, `class`, `def`, `async def`, `async with`, `async for`
And also function and method parameters.

That's all, I guess.

[2018-03-19 02:10] dopplershift opened #19 "`AttributeError` in new for loop checking"
I'm getting this error now that I updated to 1.1.0:
[code]

I'm seeing this on Windows, Linux, and Mac on 2.7, 3.5, 3.6. This example code (which pulls a tuple out during iteration) is enough to trigger the error (and removing that line makes the error go away):

[code]

[2018-03-19 05:34] gforcada commented on #19
@dopplershift thanks, I was not expecting this one  :-) I will try to fix it as soon as I can, pull requests are welcome, of course.

[2018-03-19 18:14] dhood commented on #19
We are also getting this after updating to 1.1.0, same traceback (https://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_debug/396/testReport/junit/(root)/rosidl_parser/flake8_xunit_missing_result//)

[2018-03-19 19:01] dhood commented on #19
For reference, the code being checked that caused our error is [here (both subdirectories are checked)](https://github.com/ros2/rosidl/tree/774a3cd4509f2d432b7325f60434765a9ccd5cee/rosidl_parser) and I noticed that there is at least one instance of a tuple in the for loop at https://github.com/ros2/rosidl/blob/774a3cd4509f2d432b7325f60434765a9ccd5cee/rosidl_parser/test/test_parse_primitive_value_s

[2018-03-19 23:53] dopplershift commented on #19
Fix (with test) in #20 .

[2018-03-20 09:44] #19 closed, assigned to nobody

[2018-03-20 09:46] gforcada commented on #14
This was merged and released already.

[2018-03-20 09:46] #14 closed, assigned to nobody

[2018-03-20 10:00] sobolevn commented on #17
And I have forgot `class` attributes.

[2018-03-27 14:27] mccalluc commented on #13
Sorry to drop the ball here: coming back to it, I can see that I was misinterpreting the output, and the behavior has been what I wanted all along. Basically, it complained about something like
[code]
but not because of the first `min`, but because I chose to use a built-in for a variable.

Closing. Sorry for the bother.

[2018-03-27 14:27] #13 closed, assigned to nobody

[2018-03-27 14:31] mccalluc commented on #13
... but in the process of exploring this, did tweak the `assert_codes` to give me all the mismatches in a comparison, and not just the first: If it's any use to you, great. Thanks again for making this.
[code]

[2018-04-01 13:55] gforcada commented on #17
@sobolevn flake8-builtins 1.2.1 is out with tons of more proves, let me know if it works as expected.

[2018-04-01 13:55] #17 closed, assigned to nobody

[2018-04-01 14:47] sobolevn commented on #17
Great! Thanks!

[2018-04-02 12:16] clokep opened #22 "Split A002 to differentiate between arguments and class-level variables"
E.g. with the latest version (1.2.1) I have a few examples of things like this:

[code]

This now fails with a message:

This text doesn't really make sense (`filter` isn't an argument).

[2018-04-02 15:53] dhood commented on #22
We are seeing these failures as well with 1.2.1 (as well as some new appropriate failures, thank you!).

+1 for this suggestion, when someone gets the time to address it.

As an additional data point on the message output, ours reference the decorator as opposed to the function:

[code]

gives the following error:
[code]

[2018-04-02 17:59] tim-ireland opened #23 "`AttributeError` seen with versions 1.2.0 and 1.2.1"
With version flake8-builtins 1.2.0 and later I'm seeing the following issue while running `flake8`.  It works fine with flake8-builtins 1.1.1.

Using python 2.7.14

[code]

[2018-04-03 00:21] gforcada commented on #23
@tim-ireland thanks for using flake8-builtins and reporting the issues you find with it!!

I see on the traceback nothing directly related to flake8-builtins, but rather multiprocessing, would you mind trying to run the same flake8 command with ``-j 1`` as an extra argument? So turning off multiprocessing to see if we can get a clear traceback?

On the other hand, if you safely copy that ``src`` f

[2018-04-03 01:25] tim-ireland commented on #23
@gforcada good call with `-j 1`.  Here's what I found:

[code]

Adding a `print var` just before line 182, I saw lots of `_ast.Name object`'s but it failed at the first `_ast.Attribute` object:

[code]

Added the following exception handler:

[code]

With result:

[code]

[2018-04-03 05:14] gforcada commented on #22
@clokep hi! Thanks for using and reporting issues on flake8-builtins!

You are totally right, the error code is wrong, I already fixed it on master. A new release is coming soon.

[2018-04-03 05:19] gforcada commented on #22
@dhood again as @clokep thanks for using and reporting issues!!

Although your issue is physically close/related to @clokep issue, next time, please open a separate bug report :wink:

Unfortunately, as far as my ``ast`` knowledge goes, it is impossible to get the correct line number and column offset when function definitions have decorators.

I reported it upstream on python issue tracker: see ht

[2018-04-03 05:21] gforcada commented on #22
@clokep flake8-builtins 1.2.2 is out, let me know if it is working well for you!

[2018-04-03 05:21] #22 closed, assigned to nobody

[2018-04-03 05:24] gforcada commented on #23
@tim-ireland thanks for the quick answer, what would be interesting is to have a minimal code snippet hat allows us to reproduce the issue and encode it on a test so that we can ensure we can fix the code and that no future changes on the code regress on it. Would you mind providing that? I'm a bit puzzled over a with statement have an ``ast.Attribute``

[2018-04-03 05:25] gforcada opened #24 "function definitions' line and column reported are wrong if the function has a decorator"
See https://github.com/gforcada/flake8-builtins/issues/22#issuecomment-377961642 for the details.

So far it seems that the ``ast`` module does not provide that information.

An upstream bug to CPython has been created for that: https://bugs.python.org/issue33211

/cc @dhood

[2018-04-03 11:48] clokep commented on #22
Thanks for replying so quickly! I'm now seeing A001 for those cases ("A001 "filter" is a python builtin and is being shadowed, consider renaming the variable"), which makes more sense.

[2018-04-04 16:20] sobolevn opened #25 "Remove '_' from the builtins list"
After upgrading to the latest version, I have faced this issue:

[code]

But `_` is a common name for unused variables, I think it is not right to annotate them with `# noqa`.

[2018-04-04 17:22] dhood commented on #22
oh! I misinterpreted the initial post in this issue. I thought the issue being reported was that these failures were occurring _at all_ (it seemed to strict to me). That's why I +1d it, and to me the error message was just a minor detail.

I can see now that this ticket is just about the error message, not about the cause of the failure. Thank you for splitting it into https://github.com/gforcada/

[2018-04-04 18:10] dhood commented on #24
following on from https://github.com/gforcada/flake8-builtins/issues/22#issuecomment-378131258:

personally given how verbose the error message was I didn't find it too difficult to identify the source of the problem even with the decorator being mistakenly reported.
we're tossing up whether or not to noqa this error, and when we do so we usually prefer to noqa a specific error code.
If I understa

[2018-04-04 19:37] dirk-thomas commented on #22
I just read about this issue and saw that 8b730008673623de378f792e94f4c299c4c43993 changed the behavior to result in an `A001`. For a global function it clearly should result in an `A001`.

I would argue that for the above case though (a method in a classed named after a builtin) there shouldn't be a warning in the first place. How is `MyClass.filter` shadowing the builtin function `filter`? Both

[2018-04-04 20:07] gforcada commented on #22
@dirk-thomas you are totally right, although I would say that even if they will be always called by ``self`` is usually a bad idea to use those names anyway.

Would it be ok with you to use a separate code for it? Say ``A003``?

[2018-04-04 20:09] gforcada commented on #24
@dhood thanks for chimming in, given what I see on the upstream report in cpython I would close, at least by now, as a ``WONTFIX``.

[2018-04-04 20:09] #24 closed, assigned to nobody

[2018-04-04 20:10] gforcada commented on #25
@sobolevn thanks for the report! I'm quite puzzeld on seeing this builtin, which python version are you using? :thinking:

[2018-04-04 20:12] dirk-thomas commented on #22
It might be "bad idea" but I would argue that the essence of the warning "thus shadows a python builtin" is not the case. Therefore I don't think there should be a warning about it (or at least the warning shouldn't be enabled by default).

[2018-04-04 20:46] sobolevn commented on #25
I am using this template: https://github.com/wemake-services/wemake-django-template
It comes with `python 3.6.5`.

But, I know that `django` does something with the `_`.

[2018-04-04 21:46] clokep commented on #22
@dirk-thomas That is what I originally meant when I filed this. Note that it *does* shadow things since classes are their own scope:

[code]

I think that this case is much less likely to cause real issues though, it might make sense to have it off by default?

[2018-04-04 21:50] dirk-thomas commented on #22
Very good point. Some code could do the following which would be shadowing the builtin:

[code]

A new code sounds good to me then :+1:

[2018-04-10 12:54] gb14 opened #26 "AttributeError when __enter__ method returns tuple"
After upgrading to 1.2.2 we are getting this error:

[code]
This is caused by something like:
[code]

[2018-04-10 19:56] gforcada commented on #26
@gb14 thanks for using and reporting your errors with flake8-builtins!

I didn't think of a context manager that returns more than one object that gets unpacked on the with statement right away, sure Python can be creative at a times :smile:

I will try to fix that as soon as possible, or would you be interested to try to tackle this issue?

To begin with a test case would be great :-)

[2018-04-10 20:47] #26 closed, assigned to nobody

[2018-04-10 20:51] gforcada commented on #26
@gb14 flake8-builtins 1.2.3 is out! Please give it a try

[2018-04-11 09:02] danpalmer commented on #23
@gforcada here's a minimal test case...

[code]

I'll take a stab at a fix now.

[2018-04-11 09:28] gb14 commented on #26
Thank you :)

[2018-04-11 09:29] danpalmer commented on #23
I think I was seeing a slightly different error, it looks like this might be a bigger task, to implement handling for the other types of AST node that can appear in an assignment context. https://docs.python.org/3/library/ast.html - currently only `Name` and `Tuple` appear implemented. Might be worth splitting out a util function to validate those types and using in all assignment contexts - like

[2018-04-11 21:03] gforcada commented on #25
@sobolevn I can not reproduce this on a plain python 3.6:

[code]

I don't have ``_`` on that list. Is django somehow modifying the builtins? that could be quite surprising...

[2018-04-11 22:25] sobolevn commented on #25
Yeap, `django` modifies this value. That happens because in some historical version of `python` it was possible to use `_` as some magic value (I am not sure about the exact implementation).

We are using `django<2.0`.

[2018-04-12 17:45] The-Compiler opened #29 "Issues with detecting shadowed builtins in many places"
I just upgraded to v1.2, and I feel like it's generating way too many false-positives.

First of all: I haven't thought about the full list of cases detected in the changelog yet, but in general, every of those cases should get a dedicated error code, so it's easy to silence a given kind of warning via flake8 if it's a hindrance for some projects.

What is the problem in my case specifically is cl

[2018-04-13 05:02] gforcada commented on #25
Fixed in master. I will release a new version shortly.

[2018-04-13 05:02] #25 closed, assigned to nobody

[2018-04-13 19:41] dirk-thomas commented on #22
Ref for future readers: #28.

[2018-04-16 12:29] clokep opened #30 "TypeError: cannot concatenate 'str' and 'int' objects"
With flake8-builtins 1.3.0 and flake8 3.5.0, I'm getting the following error on Python 2.7:

[code]

This seems to be while reporting the error? This seems new in 1.3.0, no error in 1.2.1.

[2018-04-20 13:10] arnimarj commented on #23
Hi. Found another test-case:

[code]

[2018-04-21 20:40] arnimarj commented on #30
I've run into the same issue. A debug session would indicate that the offending lines is in `check_function_definition()`.

I updated `check_function_definition()` to be:

[code]

A small test case:

[code]

[2018-04-24 07:53] The-Compiler commented on #29
Looks like this was mostly taken care of in #28, but maybe it'd make sense to make them more fine-grained anyways?

[2018-04-30 15:30] #30 closed, assigned to nobody

[2018-05-03 18:03] gforcada commented on #23
I just released version 1.4.0, give it a try and re-open if the errors still show up.

Again, thanks for using flake8-builtins and taking the time to report the issues you find with it!

[2018-05-03 18:03] #23 closed, assigned to nobody

[2018-05-03 18:10] gforcada commented on #29
@The-Compiler first of all, sorry for the silence, I'm quite busy recently and only have "bursts" of time to dedicate to it :bowing_man:

Adding more error codes, one for each case would not be a problem, now that I landed some of the changes (check 1.4.0 version just released) it would be a good idea. It will have to be a 2.0 release though, as it will break others assumptions.

Is that still som

[2018-05-03 21:53] dirk-thomas opened #34 "regression in 1.4.0 - F821 undefined name"
I just updated this package from 1.3.1 to 1.4.0 and experienced a large number of `F821 undefined name ...`. Reverting back to 1.3.1 resolves the problem again.

Looking into the recent CI results, e.g. for 92e51e62e889d517a94a20c8a268c720eaa9bf84 it seems to show the same problem (see https://travis-ci.org/gforcada/flake8-builtins/jobs/374539041).

[2018-05-04 22:05] dopplershift opened #35 "Spurious warnings generated in flake8-bugbear"
Once I upgrade to flake8-builtins 1.4.0, I started seeing these errors:
[code]
These are actually generated by the flake8-bugbear (18.2.0) plugin, and are spurious. Installing flake8-builtins 1.3.1 causes them to go away, so I'm guessing the problem actually lies in flake8-builtins.

[2018-05-08 09:30] The-Compiler opened #36 "Traceback from flake8-bugbear"
Similar to #35 I see some weird interaction with flake8-bugbear since upgrading flake8-builtins to 1.4.0. Here's what I get:

[code]

[2018-05-08 10:30] gforcada commented on #35
@dopplershift I saw them as well, but only on 3.5 and restarting that single specific job did the trick, I did not dig it further as it was going away on every second run...

[2018-05-08 10:31] gforcada commented on #36
@The-Compiler would you mind running it without multiprocessing? i.e. ``flake8 -j1 ...`` TIA

[2018-05-08 10:57] The-Compiler commented on #36
Sure!

[code]

[2018-05-08 12:20] gforcada commented on #36
@The-Compiler sorry I forgot to ask before, a minimal reproducible code case for that to happen? :sweat_smile:

[2018-05-08 12:22] The-Compiler commented on #36
Uh, that's going to be difficult with some 30k line codebase :wink: Can I somehow easily find out what file (and ideally, line) it's happening on?

[2018-05-08 12:23] gforcada commented on #36
As the traceback is on bugbear side, if you remove bugbear does it fail? and likewise with only bugbear does it fail? i.e they have both to be present to trigger this bug?

[2018-05-08 12:23] gforcada commented on #36
@The-Compiler is the code open so I can have a look myself? :thinking:

[2018-05-08 12:32] The-Compiler commented on #36
Sorry, should've been more verbose in my original issue - was a bit in a hurry :smile:

Yeah, the code is at https://github.com/qutebrowser/qutebrowser - at the current master, you can edit `misc/requirements/requirements-flake8.txt` to use `flake8-builtins==1.4.0` and then do `tox -e flake8 -r` to reproduce this.

Indeed when removing flake8-bugbear things work fine as well - maybe someone there

[2018-05-08 14:53] dirk-thomas commented on #34
@gforcada Friendly ping.

[2018-05-08 19:38] dopplershift commented on #35
Running it locally, I can reproduce at will on Python 3.6. I'll try to dig into it more in a few days (need to get a release out first).

[2018-05-09 22:19] ambv commented on #36
@gforcada, `flake8_builtins.py` is destroying the AST for other plugins to look at on line 116 by calling `stack.pop()` on the targets of an assignment. Copy the list first.

[2018-05-10 20:52] dirk-thomas commented on #36
Please see PR #37 which also addresses my problem reported in #34.

[2018-05-11 09:27] #34 closed, assigned to nobody

[2018-05-11 09:31] gforcada commented on #36
1.4.1 is released with #37 on it. Would you mind giving it a try?

Once again, thanks @dirk-thomas for the patch!!

[2018-05-11 09:31] #36 closed, assigned to nobody

[2018-05-11 09:32] gforcada commented on #35
With #37 being merged and released as 1.4.1 this should be fixed, would you mind giving it a try?

[2018-05-11 09:32] #35 closed, assigned to nobody

[2018-05-11 19:14] dopplershift commented on #35
I can confirm this is fixed with 1.4.1. Thanks!

[2018-07-10 16:20] cleder opened #38 "noqa does not ignore the error"
In version 1.4.1:
`def id(self):  # noqa: D102, A003`
raises a flake8 violation although it is explicitly ignored.
`A003 "id" is a python builtin, consider renaming the class attribute`

[2019-08-03 10:19] sobolevn opened #40 "Tuple unpacking breaks this plugin"
## Code

Valid `python` code break this linter with an exception.

[code]

## Problem

Reproduction:

[code]

Run: `flake8 test.py`
Output:

[code]

Versions:
- python3.7
- flake8: 3.7.8
- flake8-builtins: 1.4.1

[2019-08-03 10:24] sobolevn commented on #40
@gforcada the problem is in these lines:

[code]

`ast.Starred` in this case contains `Union[ast.Name, ast.Tuple]`, not just `ast.Name`.
We can write a helper like this one: https://github.com/wemake-services/wemake-python-styleguide/blob/b0421a967d7e34a2998127c78a17887e9cc622dd/wemake_python_styleguide/logic/naming/name_nodes.py#L64-L109 to fetch names from assigns.

You can just copy-paste the c

[2019-08-03 21:06] gforcada commented on #40
@sobolevn thanks for the report and for finding a solution already! :100: may I ask if you could do a pull request already? :thinking: TIA

[2019-08-03 21:16] sobolevn commented on #40
@gforcada sorry, but I am out of capacity. Working 12 hours per day, including weekends 🙂

[2019-08-05 09:17] gforcada commented on #40
Oh wow, then, all the more to thank you for the report! I will try to find time to get that in myself :+1:

[2019-10-30 21:01] proofit404 opened #44 "Add option to ignore class methods and properties."
Hi, thank you for the awesome plugin!

It's helpful for me to identify if I shadow built-in function in the global or local scope.

But class methods and class attributes are somewhat different from that. Class methods do not hide anything from the global or local scope since we should refer to `self` before.

There are even situations where we are forced to write code like that. For example, Djan

[2019-10-31 21:57] #29 closed, assigned to nobody

[2019-11-01 08:41] gforcada commented on #44
Hi! :wave: thanks for using **AND** reporting issues regarding this flake8 plugin!

If I'm not mistaken, since version `1.3.0` there is an error code (`A003`) that targets only class attributes. Adding that code to the list of ignored codes would be enough.

For class methods though, you are right, there is no specific error code for it.

Would you be willing to prepare a pull request that adds a

[2019-11-01 20:58] proofit404 commented on #44
Hi,

`A003` covers both cases. Unfortunately, I was able to understand that only from the source code.

Thanks for your explanation and the hints you gave me.

I wish you an incredible weekend :tropical_drink:

Best regards,
Artem.

[2019-11-01 20:58] #44 closed, assigned to nobody

[2019-11-30 15:12] sobolevn commented on #40
@gforcada hi, how's it going? I might have some time to help you with this one if that's fine.

[2019-12-01 14:46] gforcada commented on #40
@sobolevn :sweat: sorry, I totally missed this one :confused: any help is much appreciated, thanks for the friendly reminder! :sparkles: if you have the time/capacity to create a pull request that would be awesome :rainbow: :unicorn: :+1:

[2019-12-18 08:30] #40 closed, assigned to nobody

[2019-12-18 08:31] sobolevn commented on #40
Awesome! Thanks a lot! @gforcada can you please make a release?

[2019-12-18 08:36] gforcada commented on #40
@sobolevn :sweat_smile: just done it :+1: `1.4.2` let me know if it works as expected. Thank @memery-imb for the code :wink:

[2020-01-16 19:17] Bengt opened #47 "Add flake-job to CI"
To test the code against the latest released version of `flake-builtins` and demonstrate its usage.

[2020-01-17 08:46] gforcada commented on #47
@Bengt thanks for taking the time to create the issue :sparkles:

Would you mind to explain a bit more what you mean? :thinking: you want another job on the travis CI matrix so that it runs flake8-builitins against this repo? :thinking:

While that would be a good idea, I miss the point of the `demonstrate its usage` part.

[2020-01-17 15:32] Bengt commented on #47
Hi, @gforcada!

Thanks for thinking about this.

Yes, I mean checking this repo against itself.

On the one hand this would assure that the code quality of this repo reaches a certain level. On the other hand this demonstrate the applicability of the package in a real software project. People who want to follow this example could copy your Travis matrix definition to theirs in the certainty that t

[2020-02-03 23:23] dmitry-saritasa opened #48 "Builtins as class attrs"
[code]

The plugin will alarm

[code]
is there a configuration option to prevent checking for built-ins for class attrs?

Thanks,
Dmitry

[2020-02-04 10:21] gforcada commented on #48
@dmitry-saritasa hi, thanks for using and reporting about `flake8-builtins`!

Yes, there is a way to make `flake8` not report about such errors: all flake8 error messages have a unique identifier which you can provide it to flake8 via the `ignore` configure option. Once you do that, `flake8` will no longer warn you about those errors.

For this specific case the error code is `A003` as you can spo

[2020-02-04 10:21] #48 closed, assigned to nobody

[2020-03-08 13:15] sobolevn opened #49 "Names that use `AnnAssign` are not supported"
Reproduction:
1. `echo 'list: int = 1' > ex.py`
2. `flake8 ex.py`

It exists with status code `0`.

I expect it to work the same as `list = 1` which produces:

[code]

The problem is in this line: https://github.com/gforcada/flake8-builtins/blob/master/flake8_builtins.py#L81 Because it does not check `ast.AnnAssign`

[2020-03-08 13:16] sobolevn opened #50 "Walrus operator is not supported"
There are several things to add:

1. `ast.NamedExpr` support
2. `python3.8` to the test case
3. `python3.8` classifiers
4. Specific tests for cases like `(list := 1)`

Related https://github.com/wemake-services/wemake-python-styleguide/issues/1138

[2020-03-08 13:17] sobolevn commented on #49
Related https://github.com/wemake-services/wemake-python-styleguide/issues/1138

[2020-03-13 12:29] gforcada commented on #50
@sobolevn would you have the time to work on it, or is a whislist of what you would like others to do? :thinking: :smile:

Everything on the list sound sensible to me

[2020-03-13 12:30] gforcada commented on #49
Right, I hope to have the time in the near future, but so far, does not look promising, PR are always welcome :rainbow:

[2020-03-13 12:43] sobolevn commented on #49
@gforcada will do if you promise me to release it after that 🙂

I am building https://github.com/wemake-services/wemake-python-styleguide/milestone/10 and it is going to be released soon. And I want to have this feature on board (I use `flake8-builtins` as a dependency)

[2020-03-13 12:44] sobolevn commented on #50
The same as #49 👍

[2020-03-13 13:19] sobolevn opened #51 "Dual license"
There's a problem: you have two licenses for this project.
- https://github.com/gforcada/flake8-builtins/blob/2d987ecff29b28d7d7e0a6a6f8402f4d1cd3262b/LICENSE
- https://github.com/gforcada/flake8-builtins/blob/2d987ecff29b28d7d7e0a6a6f8402f4d1cd3262b/LICENSE.rst

My guess is that `LICENSE.rst` is not required.

[2020-03-13 16:11] gforcada commented on #49
@sobolevn that's a deal then :)

[2020-03-14 08:21] sobolevn opened #54 "posonly arguments support"
This code does not raise any violations:

[code]

Because `/` posonly args are not checked.
It is a thing since 3.8

I will send a PR after #52 is merged

[2020-03-14 08:47] #50 closed, assigned to nobody

[2020-03-14 08:47] #49 closed, assigned to nobody

[2020-03-14 08:56] sobolevn commented on #54
Turns out we also don't support `kwonly` arguments. I will add it to this fix.

## This is for the history

Here's how `ast` of this simple function looks like:

[code]

Structure:

[code]

[2020-03-16 11:27] #54 closed, assigned to nobody

[2020-03-16 11:35] sobolevn opened #57 "SetComp, GeneratorExpr, and DictComp are not supported"
This line only checks `ast.ListComp`: https://github.com/gforcada/flake8-builtins/blob/225888c420aa34cb33c07efee3f1efdd3afb1c43/flake8_builtins.py#L106

Code: `[list for list in '']`

Outout:

[code]

We need to add support for other types of comprehensions.

Because, these types do not raise:

- `{list for list in ''}`
- `(list for list in '')`
- `{list: 1 for list in ''}`

[2020-03-16 11:36] sobolevn commented on #57
I will send a PR shortly.

[2020-03-16 12:00] #51 closed, assigned to nobody

[2020-03-16 12:00] gforcada commented on #51
Thanks I did not notice, and it is since the first day :man_facepalming:

[2020-03-16 12:14] #57 closed, assigned to nobody

[2020-04-28 17:34] Dreamsorcerer opened #60 "Uninstalling breaks flake8"
[code]

[2020-04-28 17:46] Dreamsorcerer commented on #60
OK, I was able to uninstall it a second time, and then the error went away. So, maybe a bug with pip's uninstall process..

[2020-04-28 18:58] Dreamsorcerer commented on #60
Definitely pip, just had the same issue with another plugin.

[2020-04-28 18:58] #60 closed, assigned to nobody

[2020-05-06 16:39] GammaGames opened #61 "Concise Warnings"
I think having a flag to enable shorter warning messages would be nice. I am using vscode and the warnings are extremely long:

![image](https://user-images.githubusercontent.com/7832163/81203852-a7641d80-8f85-11ea-8568-27c4cf1df143.png)
![image](https://user-images.githubusercontent.com/7832163/81203808-9adfc500-8f85-11ea-812a-612793d01fad.png)

Something like `variable "max" is shadowing a pytho

[2020-05-07 07:56] gforcada commented on #61
As long as the error message is conveyed, I'm fine changing wordings, I'm no native English speaker, so there is plenty of room for improvement :+1:

Would you be up to create a merge request for it? :slightly_smiling_face:

[2020-05-07 16:46] GammaGames commented on #61
Sure, I'll take some time to make the PR hopefully sometime in the next week. Thank you!

[2020-05-11 04:28] dryobates opened #62 "Incorrectly marking conflict in methods."
[code]

[code]

[2020-05-11 04:30] dryobates commented on #62
Sorry for invalid issue. Just found A003.

[2020-05-11 04:30] #62 closed, assigned to nobody

[2020-05-14 10:41] #61 closed, assigned to nobody

[2020-08-10 06:28] MartinThoma opened #64 "Failing build"
The badge in the readme / on PyPI says that the build is failing

[2020-08-11 08:19] gforcada commented on #64
Right, and the link points to a fork of this repository, I'm a bit confused on that.

I can do a dummy commit here and see if that fixes it :thinking:

Thanks for reporting it! :100:

[2020-08-11 08:42] gforcada commented on #64
And now is fixed :)

[2020-08-11 08:42] #64 closed, assigned to nobody

[2020-08-11 08:46] MartinThoma commented on #64
Thank you :-)

[2021-04-12 23:27] lovetoburnswhen opened #66 "Python 3.9 support?"
Would it be possible to update setup.py to include python 3.9?

Thanks

[2021-04-13 20:00] gforcada commented on #66
Sure, we might want to move to github actions so we can ensure that it is not broken, but otherwise yes, I expect it to work :crossed_fingers: would you be willing to make the pull request for it? :100:

[2021-04-14 06:13] #66 closed, assigned to nobody

[2021-08-18 21:37] j-rivero opened #69 "test_exception_py2 trigger an exception with python 3.9.2"
While packaging the software for Debian I found that one of the test triggers a real exception. Environment is Debian Sid with  python version is 3.9.2.

[code]

Please note that I'm running the test suite with the following patch (since hypothesmith is not in Debian). I'm not sure that the error is related:
[code]
Thanks.

[2021-09-20 16:32] gforcada commented on #69
Hi! sorry for the lateness on my reply! 😱 😓

In theory not, the problem should not be from your patch... but it is interesting because this test is guarded with a condition to only run it on python lower than 3.0, so why it is executed on python 3.9 ? 🤔

[2021-09-20 16:37] gforcada commented on #69
I installed pytest, flake8 and hypotesis (and hypothesmith as well, but you patch it away) in a python 3.9 virtual environment and tests run successful and one is skipped, this one that fails for you...

Might it be that as you did not have a virtual environment enabled, the default python interpreter is still python 2 and that's what `sys.version_info` gets, although you run it on python 3.9 ? 🤔

[2021-09-20 18:52] j-rivero commented on #69
No worries.

Ouk, you are right. I just removed the patch and the whole CI is just fine https://salsa.debian.org/jrivero-guest/flake8-builtins/-/pipelines/292122.

Not sure what I broke during my works but I think we are good.

Thanks! closing.

[2021-09-20 18:52] #69 closed, assigned to nobody

[2022-02-02 16:29] kthy opened #73 "Does not recognize additional --builtins"
[As per the docs](https://flake8.pycqa.org/en/latest/user/options.html#cmdoption-flake8-builtins), it is possible to add builtins to flake8 by passing the `--builtins` flag or through config files.

However, these are not recognized by flake8-builtins:

[code]

[code]

A001 should be reported for both functions.

[2022-02-07 08:12] gforcada commented on #73
@kthy thanks for the report and for using `flake8-builtins`! ✨ I'm sorry to answer so late, my real life is rather busy as of late 😅

I'm not sure if we are mixing things here 🤔

`flake8-builtins` looks for what's on the python standard library and reports re-definitions of them, so on your example `def id` gets a warning about it. `def _` though does not, as the python standard library does not h

[2022-02-07 08:38] kthy commented on #73
My example does an explicit definition of `_` but that was just for repro purposes. The real use case is that [the `gettext` module of the stdlib modifies the builtins on the fly](https://docs.python.org/3/library/gettext.html#localizing-your-module), adding a `_()` function for translations.

That's exactly what I was looking for, yes! 😁

[2022-02-20 13:53] ghost opened #74 "Add option to ignore certain builtins"
flake8-builtins complains about variables named `license`, which honestly I don't understand why it even exists outside of the REPL. I don't want to rename them to `lic`, `licence`, `licence_` or similar, so it would be nice to not have to sprinkle my code with `# noqa` everywhere.

[2022-02-23 00:04] gforcada commented on #74
Hi @nyuszika7h thanks for using `flake8-builtins` and taking the time to report about it! ✨

Might it be fixed if eventually #73 is implemented? 🤔 reopen if you think otherwise.

[2022-02-25 22:31] ghost commented on #74
No, that's the opposite of what I want. That issue suggests adding an option to recognize *more* identifiers as builtins, but I want it to ignore one that's technically a builtin but basically never used.

(Yes, I could see how it could lead to issues if I forget to define the variable and accidentally use the builtin instead and flake8 doesn't yell at me that it's undefined, but mypy should take

[2022-03-01 13:17] gforcada commented on #74
Oh right, sorry, I probably did not read your message properly 🙋🏾 sorry! 🙇🏾

[2022-07-06 11:44] wyuenho opened #75 "A003 should be disabled by default"
Consider the following example:

[code]

Class attributes are almost never accessed by themselves without going through an object or a class, so what's the point of this rule? If you must preserve this rule, please disable it by default.

[2022-07-06 18:27] gforcada commented on #75
Thanks for using flake8-builtins and even spending the time to report the problems you have with it! (and sorry that you have problems with it 😓 )

I see the point, on data models indeed it makes more sense, in general classes though I still think that it should try to avoid using builtins... maybe #74 would be a better middle ground? 🤔

Would you agree on that direction? Would you have the extra

[2022-07-06 18:38] wyuenho commented on #75
I don't think this issue has anything to do with #74. The easiest way to deal with this issue now is just to ignore A003 in `.flake8`, which means any improvement has to start from disabling it by default so the users don't have to. There's few, if any reason for A003 to exist, you'll never shadow in any reasonable piece of Python code. I mean, can you do the following? Sure, but what possibly cou

[2022-07-07 08:27] gforcada commented on #75
Looking at the [changelog](https://github.com/gforcada/flake8-builtins/blob/master/CHANGES.rst) seems that from version 1.3.0 we have this `A003` error code, released +4 years ago (2018-04-13) and so far there were only 2 reports (yours is the third) and both of them were fine with either changing the code or adding `A003` on the list of ignored codes.

I'm sorry if it's not your intention, but yo

[2022-07-07 08:47] wyuenho commented on #75
A001 already takes care of this use case, either because of the assignment or the function name. You don't need A003. Perhaps you need an A004 to cover the case where you shadow a builtin on a *function*, but not methods of class variables, both of which places you can't access directly except in extraordinarily rare circumstances.

I don't have a question. I have a request, and I said please. Sta

[2022-07-28 07:46] joaoe commented on #75
Hi !
I'd like to second this suggestion.

In my project we had our own `logging.Formatter`, e.g.

[code]

which raises an `A003`, clearly a false positive.
So I thought a bit about it and this warning does not make sense for classes. Classes are isolated scopes that don't leak symbols.
The purpose of warning about builtins is if the programmer declares something that overrides the builtins in `glo

[2022-08-28 10:27] ghost commented on #74
I noticed `credits` is already ignored, so maybe `license` could be just added similarly. But I wouldn't mind it being an option either.

[2022-09-05 14:09] steakhutzeee opened #77 "Python 3.10 support"
Hi,

i'm trying to use builtins on VSCode without success. Using Python 3.10. Is this version not supported yet?

Thanks!

[2022-09-05 21:43] gforcada commented on #77
Hi @steakhutzeee thanks for using `flake8-builtins` and taking the time to report your findings with it.

It might be that indeed it does not work, what exact traceback/error do you see that leads you to this idea? 🤔

[2022-09-05 22:21] steakhutzeee commented on #77
I installed it and tried to add some variables names that should be seen by flake8-builtins, using VSCodium.

My settings are:

[code]

[2022-09-16 08:28] delgod opened #78 "doesn't work with pyproject-flake8"
The plugin doesn't check code issues if flake8 runs via [pflake8](https://github.com/csachs/pyproject-flake8).
Other flake8 plugins (like flake8-copyright, flake8-docstrings, pep8-naming) work fine.

[2022-10-01 18:04] ghost commented on #74
Upon further investigation, I realized that `credits` and `license` are both part of the `site` module, and are not defined when using `python -S`. So this reinforces that it might be reasonable to add it to the default ignore list, or at least add an `ignore_site` option.

Nobody should be using those in scripts anyway (though some people may misuse `exit()` instead of `sys.exit()`), so the only

[2022-10-07 11:22] cclauss opened #82 "Fix failing tests -- Please upgrade pytest"
https://pypi.org/project/pytest is currently v7.1.4

`requirements.txt` specifies `pytest==5.4.1` which cannot even do `pytest --version` on Python 3.10.

[2022-10-07 11:27] cclauss opened #83 "It is time to drop legacy versions of Python"
Python 2 died more than 1,000 days ago on 1/1/2020.  We should drop support for all versions of Python < v3.7.
* https://devguide.python.org/versions.html

[2022-10-08 13:58] gforcada commented on #83
Yes, done on #85 😄

[2022-10-08 13:58] #83 closed, assigned to nobody

[2022-10-08 13:58] gforcada commented on #82
Yes, done on #85 😄

[2022-10-08 13:58] #82 closed, assigned to nobody

[2022-10-08 14:00] gforcada commented on #74
Yes, that's what I really wanted to do at some point, fortunately @gsingh93 did the heavy work on #80 and I did the extra work on #86 to get it merged 😄

[2022-10-08 14:00] #74 closed, assigned to nobody

[2022-10-08 14:03] gforcada commented on #74
@nyuszika7h sorry to bother again, I see that what you were asking is to have `license` and `credits` ignored by default, with the changes on #85 and #86 you would be able to at least ignore them on the command line when calling flake8, would that be at least a mid term solution?

I'm afraid that saying yes to ignore `credits` and `license` will open the can of worms to others saying, that if it w

[2022-10-08 14:05] gforcada commented on #73
@kthy support for your specific request hasn't been implemented so far, but maybe #86 is a good enough solution for you?

Feel free to re-open if you disagree 😄

[2022-10-08 14:07] gforcada commented on #47
With #85 I think we are doing enough QA on the code, if you still think we should do more, please re-open the issue 😄

[2022-10-08 14:07] #47 closed, assigned to nobody

[2022-10-08 14:21] ghost commented on #74
Having it be configurable is enough for me, I was only suggesting a potential default ignore for all site modules because `credits` was already on the default ignore list.

[2022-10-08 14:28] gforcada commented on #38
@cleder I'm happy to report that with a newer version of flake8, or flake8-builtins it should be working. I tested it myself now with python 3.10, flake8-builtins 2.1.0 (just released!) and flake8 5.0.4 and it works 🎉

If you still have problems, please feel free to re-open the issue, but please provide the version triple: python, flake8 and flake8-builtins versions 😄

[2022-10-08 14:28] #38 closed, assigned to nobody

[2022-10-08 14:29] gforcada commented on #77
@steakhutzeee a few minutes ago I released flake8-builtins __2.1.0__ with python official 3.10 support.

[2022-10-08 14:29] #77 closed, assigned to nobody

[2022-10-08 14:33] gforcada commented on #78
Hi @delgod ! thanks for taking the time report about your usage with flake8-builtins! 😄

I'm sorry that you are having a problem with it though... I myself never heard of `pflake8`.

I see that there is still no official release of `pflake8` on PyPI, would you mind describing the steps you took to install it and what's not working when running it together with `flake8-builtins`?

[2022-10-09 00:47] kthy commented on #73
I may be misunderstanding #86, but doesn't it do exactly the opposite of what I want here?

[2022-10-09 13:17] gforcada commented on #73
Oh my, totally right 😅

[2022-10-09 21:07] Bengt commented on #47
Hi, @gforcada! I am happy to see that you picked up GitHub actions for this project. As far as I can see, you are not ["eating your own dog food"](https://en.wikipedia.org/wiki/Eating_your_own_dog_food) by using your own linter, though. The workflow includes flake8, but without flake8-builtins:

https://github.com/gforcada/flake8-builtins/blob/master/.github/workflows/testing.yml#L50

[2022-11-02 07:17] shangxiao opened #93 "Feature request: Skip class attributes"
Nice idea, I wish I could use it on my current project however there are a lot of class attributes (methods and variables) that are deemed acceptable to use builtin names.

[2022-11-02 10:28] gforcada commented on #93
@shangxiao hi! 👋🏾 thanks for using `flake8-builtins` and spending the time to report your findings with it! 👍🏾

If you look at the output from `flake8` you should see that these class attributes are marked with `A003` code, is it?

Then you could tell `flake8`, via [its configuration](https://flake8.pycqa.org/en/5.0.4/user/configuration.html), or on the command line, to [ignore this specific error

[2022-11-02 10:28] #93 closed, assigned to nobody

[2022-11-03 17:51] TylerYep commented on #75
Hi, I'd also like to +1 this suggestion. This warning is a false positive because a class attribute can never conflict with the builtin.

For example, my custom LinkedList class is unable to use `self.next` as an instance variable name seems strange to prohibit.

`--builtins-ignorelist` doesn't fix my issue because I do want to block use of `next` that actually shadow builtins